<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pago PM</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    </head>

    <body>
        <div class="container" style="width: 50%;">
            <form method="POST" action="https://server.punto-web.com/gateway/PWFacPagos.asp" name="form">
                <div class="form-group">
                    <label for="I0">Marca de tarjeta</label>
                    <input type="text" name="I0" id="I0" value="MC" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I1">Código de Sub Comercio</label>
                    <input type="text" name="I1" id="I1" value="9000001" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I2">Nro. de Referencia.</label>
                    <input type="text" name="I2" id="I2" value="ORD001" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I3">Monto de la Transacción</label>
                    <input type="text" name="I3" id="I3" value="22.50" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I4">Moneda de la Txn. Sub Comercio</label>
                    <input type="text" name="I4" id="I4" value="PEN" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I5">Tarjeta de Crédito</label>
                    <input type="text" name="I5" id="I5" value="5455450910000856" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I6">Numero de CVC2</label>
                    <input type="text" name="I6" id="I6" value="315" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I7">Fecha de Expiración de Tarjeta</label>
                    <input type="text" name="I7" id="I7" value="1007" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I8">Fecha de la Transacción. (Auxiliar 1)</label>
                    <input type="text" name="I8" id="I8" value="20060808" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I9">Hora de la Transacción. (Auxiliar 2)</label>
                    <input type="text" name="I9" id="I9" value="123032" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="I10">Autogenerador Aleatorio</label>
                    <input type="text" name="I10" id="I10" value="1139767890" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I11">Diferido(Opcional)</label>
                    <input type="text" name="I11" id="I11" value="0" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I12">Cuotas(Opcional)</label>
                    <input type="text" name="I12" id="I12" value="00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I13">Código de Comercio Facilitador</label>
                    <input type="text" name="I13" id="I13" value="2999994" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I14">Tipo de Proceso</label>
                    <input type="text" name="I14" id="I14" value="AT" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I15">Data Encriptada o Hash</label>
                    <input type="text" name="I15" id="I15" value="Data Encriptada" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="I16">Firma Digital</label>
                    <input type="text" name="I16" id="I16" value="Firma Digital" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>