<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redirigiendo...</title>
</head>

<body>
<form method="POST" th:action="@{${urlfacpago}}" name="facpago" id="facpago">
    <input type="hidden" name="I0" th:value="*{I0}"/>
    <input type="hidden" name="I1" th:value="*{I1}"/>
    <input type="hidden" name="I2" th:value="*{I2}"/>
    <input type="hidden" name="I3" th:value="*{I3}"/>
    <input type="hidden" name="I4" th:value="*{I4}"/>
    <input type="hidden" name="I5" th:value="*{I5}"/>
    <input type="hidden" name="I6" th:value="*{I6}"/>
    <input type="hidden" name="I7" th:value="*{I7}"/>
    <input type="hidden" name="I8" th:value="*{I8}"/>
    <input type="hidden" name="I9" th:value="*{I9}"/>
    <input type="hidden" name="I10" th:value="*{I10}"/>
    <input type="hidden" name="I11" th:value="*{I11}"/>
    <input type="hidden" name="I12" th:value="*{I12}"/>
    <input type="hidden" name="I13" th:value="*{I13}"/>
    <input type="hidden" name="I14" th:value="*{I14}"/>
    <input type="hidden" name="I15" th:value="*{I15}"/>
    <input type="hidden" name="I16" th:value="*{I16}"/>
</form>
</body>
</html>